{% extends "base.html" %}
{% set active_page = 'about' %}
{% block content %}
    <!-- Page Content-->
    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features-->
            <div class="row gx-lg-5">
                
                {% for rolemodel in rolemodels %}
                
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <a href="/about/{{ rolemodel.url }}">
                            <div class="card bg-light border-0 h-100">
                                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                    <img class ="rolemodel-img" src="{{ rolemodel.img }}" alt="">
                                    <div class="rm-card-text">
                                        <h2 class="fs-4 fw-bold">{{ rolemodel.name }}</h2>
                                        <p class="mb-0">{{ rolemodel.intro_text }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                
                {% endfor %}

            </div>



        </div>
    </section>
{% endblock %}